<section class="container py-5">
    <span id="academico"></span>
    <h2 class="text-light">Formação Acadêmica</h2>

    <hr class="bg-light">

    <div class="d-flex justify-content-between align-items-center">
        <div class="w-50 p-3 text-secondary border-right border-light">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-light">Análise de Sistemas</h3>
                <span class="text-warning">Conclusão: 12/2022</span>
            </div>
            <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum magni, ad
                repellendus cumque ducimus laboriosam culpa nostrum minima itaque consequuntur accusantium quae,
                alias praesentium recusandae. Atque eligendi totam cupiditate magni!</p>
        </div>
        <div class="w-50 p-3 text-secondary">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-light">Data Science</h3>
                <span class="text-warning">Conclusão: 09/2023</span>
            </div>
            <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum magni, ad
                repellendus cumque ducimus laboriosam culpa nostrum minima itaque consequuntur accusantium quae,
                alias praesentium recusandae. Atque eligendi totam cupiditate magni!</p>
        </div>
    </div>

    <hr class="bg-light">

    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="text-light">Técnicas de Invasão - Pentester</h3>
            <span class="text-warning">Conclusão: 04/2023</span>
        </div>
        <p class="text-justify text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum magni, ad
            repellendus cumque ducimus laboriosam culpa nostrum minima itaque consequuntur accusantium quae,
            alias praesentium recusandae. Atque eligendi totam cupiditate magni!</p>
    </div>

</section>