<section class="container py-5">
    <span id="academico"></span>
    <h2 class="text-light">Formação Acadêmica</h2>

    <hr class="bg-light">

    {%for fa in formacaoacademica%} 
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="text-light">{{fa.titulo}}</h3>
            <span class="text-warning">Conclusão: {{fa.conclusao}}</span>
        </div>
        <h5 class="text-warning">{{fa.instituicao}}</h5>
        <p class="text-justify text-secondary">{{fa.descricao}}</p>
    </div>
    {%endfor%}

    <hr class="bg-light">

</section>