<section class="bg-light p-5">

    <h2 class="text-secondary text-center py-4">Hard Skills</h2>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-6 g-5 container mx-auto">

            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center pt-3">
                    <img src="../static/img/linux.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Linux</p>
                    </div>
                </div>
            </div>

             <div class="col my-3 text-center">
                <div class="card shadow-sm text-center pt-3">
                    <img src="../static/img/html-5.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">HTML 5</p>
                    </div>
                </div>
            </div>

             <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/css-3.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">CSS 3</p>
                    </div>
                </div>
            </div>

             <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/java-script.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">JavaScript</p>
                    </div>
                </div>
            </div>

             <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/python.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Python</p>
                    </div>
                </div>
            </div>

             <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/django.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Django</p>
                    </div>
                </div>
            </div>

             <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/sql.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">SQL</p>
                    </div>
                </div>
            </div>

            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/git.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Git</p>
                    </div>
                </div>
            </div>

            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/crisp-dm.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">CRISP-DM</p>
                    </div>
                </div>
            </div>

            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/scrum.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Scrum</p>
                    </div>
                </div>
            </div>

            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/data-analitics.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Data Analitics</p>
                    </div>
                </div>
            </div>

            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/data-science.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Data Science</p>
                    </div>
                </div>
            </div>

            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/data-mining.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Scraper</p>
                    </div>
                </div>
            </div>

            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center  pt-3">
                    <img src="../static/img/hacker.png" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">Pentester</p>
                    </div>
                </div>
            </div>
        </div>

</section>