<section class="bg-light p-5">

    <h2 class="text-secondary text-center py-4">Hard Skills</h2>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-6 g-5 container mx-auto">

            {%for hs in hardskill%} 
            <div class="col my-3 text-center">
                <div class="card shadow-sm text-center pt-3">
                    <img src="{{hs.icon.thumb.url}}" alt=""  width="50px" height="auto" class="mx-auto">        
                    <div class="card-body">
                        <p class="card-text">{{hs.titulo}}</p>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>

</section>