<h1 class="text-light titulo w-25">Michelinux</h1>
<nav class="d-flex justify-content-end align-items-center">
    <a href="/" class="mx-1 rounded bg-dark btn text-light">Home</a>
    <a href="#academico" class="mx-1 rounded bg-dark btn text-light">Acadêmico</a>
    <a href="#projetos" class="mx-1 rounded bg-dark btn text-light">Projetos</a>
    <a href="#certificados" class="mx-1 rounded bg-dark btn text-light">Certificados</a>
    <a href="#" class="mx-1 rounded bg-dark btn text-light">Currículo</a>
    <a href="#" class="mx-1 rounded bg-dark btn text-light">Contato</a>
</nav>