<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

  </style>
  
  <section id="projetos" class="bg-dark p-5">

    <h2 class="text-light text-center py-4">Projetos</h2>
    
      <div class="album py-5 bg-dark">
        <div class="px-5">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

            {%for p in projetos%} 
            <div class="col">
              <div class="card shadow-sm mb-3">
                <img src="{{p.imagem.thumb.url}}" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
    
                <div class="card-body">
                  <h3>{{p.titulo}}</h3>
                  <p class="card-text">{{p.descricao}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{p.linksite}}" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">Site</a>
                      <a href="{{p.linkgithub}}" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">GitHub</a>
                    </div>
                    <small class="text-muted">{{p.horas}}h dedicadas</small>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
            
          </div>
        </div>
      </div>

</section>